[submodule ".registry"]
	path = .registry
	url = https://github.com/kasakh/kasakh.r-universe.dev
	branch = HEAD
[submodule "mixturemodelsr"]
	path = mixturemodelsr
	url = https://github.com/kasakh/mixturemodelsr
